/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

header {
    padding: 20px;
    background-color: #f5f1f1;
    padding: 0%;
    display: flex;
    justify-content: flex-end;
}

header nav {
    color: #5385cf;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.boton {
    background-color: rgb(50, 139, 190);
    color: white;
    width:150px;
    height: 30px;
    font-size: 20px;
    margin-right: 150px;
    border-radius: 20px;
    border: #5385cf;
    font-weight: bold;
    cursor: pointer;
}

header .Titulo1{
    color: #2a4f86;
    margin-right: 150px;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

header .Titulo2{
    color: #162a49;
    font-size: 40px;
}

header .detalle{
    border: 1px solid bisque;
    background-color: bisque;
    width:50%;

}

header .botonPostular{
    border: 1px solid #b7d0f7;
    background-color:  #b7d0f7;
}

.imgDiv{
    border: 1px solid rgb(149, 191, 255);
    text-align: center;
    background-image: url('../../public/home/istockphoto-1153965495-170667a.jpg');
    background-position: center bottom;
    background-size: 100% auto ;
    background-repeat: no-repeat;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.imgLogin{
    width: 200px;
}

label{
    font-family: 'Mulish', 'bold';
    font-size: 40pt;
    color: #04146c;
    font-weight: 700;
}


.input1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.imgUser
    {
        width: 47px;
        height: 47px;
        margin-left: 2px;
    }

.Username{
        border: 1px solid black;
        background-color: white;
    }

.Username input#user {
    width:500px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    border: 0;
    vertical-align: top;
}

.input2
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.Username input#psw {
        width:500px;
        height: 50px;
        font-size: 20px;
        font-weight: 400;
        border: 0;
        vertical-align: top;
}

form{
    border-bottom: 1px solid #414166;
}

.p1{
    color: #0a2ff1;
    font-family: 'Mulish', 'regular';
    font-size: 12pt;
    padding-left: 10px;
}

.p2{
    color: #0a2ff1;
    font-family: 'Mulish', 'regular';
    font-size: 12pt;
    padding-left: 250px;
}

div.botonera {
  margin-top: 70px;
}

main {
    padding: 10px 20px;
    background-color: rgb(140, 181, 209);
    border-bottom: 1px solid grey;
}

main h1 {
    margin: 0;
}

.cuerpo {
    margin: 0 40px;
}

.contenedor{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.col-50 {
    width: 50%;
    font-size: 20px;
}

#botonpost{
    width:500px;
    height: 50%;
    margin-left: 30px;
    padding: 50px;
    font-size: 20px;
    border-left: none;
    background-color: rgb(4, 4, 100);
    color: white;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.etiquetas{
    width: 60%;
    margin: 10px 2px 14px 0;
}

.boton-postulacion{
    background-color: b7d0f7;
    width: 40%;
    height: 100%;
}

.etiqueta {
    position: relative;
    background-color: rgb(33, 151, 241);
    margin-right: 30px;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    white-space: nowrap;
    display: inline-block;
}

.etiqueta:after {
    content: '\25ba';
    background: none;
    font-size: 26px;
    padding: 0;
    right: -23px;
    top: -6px;
    position: absolute;
    color: rgb(33, 151, 241);
}

.detalle{
    display: flex;
    flex-direction: column;
    background-color:#d7e4f8;
    color: rgb(66, 141, 209);
    flex: 1;
    border: 1px solid #d7e4f8;
    justify-content: space-between;
}

.detalle label{
    color: rgb(66, 141, 209);
    font-size: 20pt;
}

footer {
    margin: 20px;
}