@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"] {
  padding-left: 5px;
}

.uai-bg {
  background-color: #662938;
}

.uai-shadow {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.text-right {
  text-align: right;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.5);
  overflow: hidden;
}

#login-back {
  background: url("/home/back.jpg");
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

* {
  box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

table tbody,
table tbody a {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

table thead tr,
table tbody tr {
  background-color: #fff;
}

table tbody tr:nth-of-type(odd) {
  background-color: #f5f5f5;
}

.table tbody td,
.table tbody th {
  font-size: 0.8125rem;
  font-weight: 400;
}

header {
  position: sticky;
  top: 0;
  z-index: 40;
  align-items: center;
  color: rgba(0, 0, 0, 0.87);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 3.5rem;
  padding: 0.625rem 60px;
  /* padding: 20px;
    background-color: #f5f1f1;
    padding: 0%;
    display: flex;
    justify-content: flex-end; */
}

header.bg-primary {
  padding: 1.5rem !important;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-miuai {
  font-size: 4rem;
  color: white;
  font-weight: 300;
  line-height: 0;
}

.logo-miuai b {
  font-weight: 700;
}

.boton {
  cursor: pointer;
  border-radius: 2px;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  background-image: none;
  border: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  max-width: 100%;
  min-width: 5.5rem;
  padding: 0.6875rem 1rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

header .boton {
  background-color: #fff;
  margin: 0 5px;
}

.boton:active {
  background-color: hsla(0, 0%, 60%, 1);
  background-image: none;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.2);
}

.boton:focus,
.boton:hover {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.12),
    rgba(0, 0, 0, 0.12)
  );
}

header .Titulo1 {
  color: #fff;
  margin-right: 150px;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}

header .Titulo2 {
  color: #162a49;
  font-size: 40px;
  margin-bottom: 20px;
}

header .detalle {
  border: 1px solid bisque;
  background-color: bisque;
  width: 50%;
}

header .botonPostular {
  border: 1px solid #b7d0f7;
  background-color: #b7d0f7;
}

.imgDiv {
  border: 1px solid #000;
  text-align: center;
  background-color: #fff;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem !important;
  margin: 0 auto;
  padding: 1.5rem !important;
}

.imgDiv .btn-secondary {
  margin-left: 10px;
}

.imgLogin {
  width: 200px;
  height: auto;
  display: inline;
}

.input1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.imgUser {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  display: inline;
}

.Username {
  border-bottom: 1px solid grey;
  background-color: white;
}

.Username input#user {
  width: 500px;
  height: 30px;
  font-size: 1rem;
  font-weight: 400;
  border: 0;
  vertical-align: top;
}

#busqueda-empleos-sugeridos .entrada-empleo .boton {
  background-color: white;
}

#busqueda-empleos-sugeridos .entrada-empleo .boton.btn-primary {
  background-color: #662938;
}

/* El primer empleo sugerido con fondo dorado */
#busqueda-empleos-sugeridos .entrada-empleo:nth-child(2) {
  background-color: #d8ba6f;
}

/* El segundo empleo sugerido con fondo plateado */
#busqueda-empleos-sugeridos .entrada-empleo:nth-child(3) {
  background-color: silver;
}

/* El segundo empleo sugerido con fondo bronce */
#busqueda-empleos-sugeridos .entrada-empleo:nth-child(4) {
  background-color: #bf8970;
}

.input2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.Username input#psw {
  width: 500px;
  height: 30px;
  font-size: 1rem;
  font-weight: 400;
  border: 0;
  vertical-align: top;
}

.p1 {
  color: #662938;
  font-size: 12pt;
}

.p2 {
  color: #662938;
  font-size: 12pt;
}

.remember-box {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

div.botonera {
  margin-top: 50px;
  margin-bottom: 20px;
}

main {
  padding: 10px 20px;
}

main h1 {
  margin: 0;
}

.cuerpo {
  margin: 0 40px;
}

.contenedor {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col-50 {
  width: 50%;
}

.btn-primary {
  background-color: #662938;
  color: #fff;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.12),
    rgba(0, 0, 0, 0.12)
  );
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}

.boton:disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
  background-image: none;
  box-shadow: none;
  opacity: 1;
}

#botonpost {
  margin-top: 20px;
}

.etiquetas {
  margin: 10px 0;
  font-size: 0.8rem;
  display: flex;
}

.etiquetas .etiqueta {
  border-radius: 20px;
  border: 1px dotted grey;
  margin-right: 10px;
  padding: 5px 10px;
}

.etiquetas .etiqueta svg {
  color: rgb(221, 158, 10);
  display: inline;
  margin-right: 5px;
}

.detalle {
  padding: 20px;

  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  width: 100%;
}

.detalle label {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.4;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  text-transform: uppercase;
}

.Descripcion {
  font-size: 0.8rem;
  padding: 20px;
  margin: 20px 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}

.spinner {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entrada-empleo-logo {
  width: 100px;
}

.entrada-empleo-detalle a:hover,
.entrada-empleo-detalle a:active {
  text-decoration: underline;
}

.botonera-empleos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.botonera-empleos h1 {
  font-weight: bold;
}

.contenedor-reporte .modal-size {
  width: 1000px;
}

.admin-permisos-formulario-item {
  min-width: 200px;
}

.tab-seleccionado {
  background-color: #662938;
  color: white;
}

footer {
  padding: 10px 60px;
  font-weight: 400;
}
